.projectCard
	h1.title #{title}
	span.collab
		p Joint work with:
		each collab
			a(href="#{link}") #{name}


	p.descrip #{blurb1}
	p.descrip #{blurb2}

	h1 More Projects
	ul
		each otherProj
			li
				div.proj-button
					a(href="#{path}") #{title}

